[submodule "AFHO_dicord_bot"]
	path = AFHO_dicord_bot
	url = git@github.com:nicobonnardot3/AFHO_dicord_bot.git
[submodule "AFHOBotFrontend"]
	path = AFHOBotFrontend
	url = git@github.com:nicobonnardot3/AFHOBotFrontend.git
